.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #beaaf1;
  color: white;
}

.container {
  background: #5a5abb;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 50%;
  margin: 5% auto; /* Centrer le conteneur */
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Réduire la largeur du conteneur sur les petits écrans */
  }
}